@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    background: #3e4144;
}
.form {
    margin: 50px auto;
    width: 400px;
    padding: 30px 25px;
    background: white;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}


.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.container{
width: 90%;
margin: 0 auto;
}

header {
    background: #55d6aa;
}
  
header::after {
    content: '';
    display: table;
    clear: both;
}
  .logo {
    float: left;
    padding: 10px 0;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    text-align: center;
  
    position: relative;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
  }
  
  nav a:hover {
    color: #000;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    table, th, td {
        border: 1px solid black;
      }
